

  @page
  
    <div id="mainWrapping">
      <div id="homepageLogoAndTitle">
        <!-- Logo doesn't react to size change. Needs to be fixed -->
        <div id="homepageLogo">
          <a asp-page ="Index.cshtml">
            <img src="images/logo.png" alt="DataLink Technology Logo" />
          </a>
        </div>
        <div id="homepageTitle"><h1>DataLink Technology©</h1></div>
      </div>
      <div id="wrapperCompanyOverview">
        <div id="functionsCompanyOverview">
          <div id="editPanelCompanyOverview">
            <a asp-page ="CompanyOverview.cshtml">
              <button id="verifyEditPanelCompanyOverviewButton">
                Fertigstellen
              </button>
            </a>
          </div>
        </div>
        <div id="overviewCompanyOverview">
          <h1>Bearbeitung der Datenbank</h1>
          <p>TODO</p>
        </div>
      </div>
    </div>
  
